html{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    flex-grow: 1;
    padding: 0%;
    margin: 0;
    min-height: 100vh;
    background-image: url("background_small.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

#h1{
    display: flex;
    position: absolute;
    right: 46%;
    margin-top: 0%;
    color: aliceblue;
}

#top_menu{
    top: 0;
    background-color: #2F4F3D;
    height: 7%;
    position: fixed;
    width: 100%;
    z-index: 1;
}





#contactdiv{
    width: fit-content;
    position: absolute;
    top: 60%;
    left: 1%;
}

#howtodiv{
    display: flex;
    width: fit-content;
    position: absolute;
    top: 60%;
    right: 50%;
}

.headers{
    font-family: 'Mukta', serif;
    font-size: large;
    text-decoration: none;
    color: antiquewhite;
}

#aboutdiv{
    width: fit-content;
    position: absolute;
    top: 60%;
    right: 1%;
}

.card:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    cursor: pointer;
}

#classiccards{
    width: 100%;
    position: absolute;
    margin-top: 110px;
    height: 500px;
}

#arcadecards{
    width: 100%;
    position: absolute;
    margin-top: 710;
    height: 500px;
}

#challengecards{
    width: 100%;
    position: absolute;
    margin-top: 1310px;
    height: 500px;
}


#classiccard{
    margin-left: 15px;
    position: relative;
    margin-top: 0%;
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}

#h4classic{
    font-family: 'Gabarito', serif;
    text-align: center;
    font-size: x-large;
}

#classicdesc{
    text-align: center;
    font-family: 'Mukta', serif;
}

#classicimg{
    height:350px;
}

#pausecard{
    margin-left: 15px;
    position: relative;
    margin-top: 0%;
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}



#cleancard{
    margin-left: 8px;
    position: relative;
    margin-top: 0%;
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
}


#h4clean{
    text-align: center;
    width: 100%;
    font-family: 'Gabarito', serif;
    font-size: x-large;
}


#cleanimg{
    height: 350px;
    width: 100%;
}



#hp1card{
    margin-left: 10px;
    display: inline-block;
    position: relative;
    margin-top: 0%;
    width: fit-content;
    vertical-align: middle;
}






#hp1img{
    height: 350px;
    width: 100%;
}


#timecard{
   
    display: inline-block;
    margin-left: 5px;
    position: relative;
    margin-top: 0%;
    width: fit-content;
    vertical-align: middle;
}

#radiuscard{
    display: inline-block;
    margin-left: 5px;
    position: relative;
    margin-top: 0%;
    width: fit-content;
    vertical-align: middle;
}




h4{
    text-align: center;
    font-family: 'Gabarito', serif;
    font-size: x-large;
}

.card_description{
    font-family: 'Mukta', serif;
    text-align: center;
}

#timeimg{
    height: 350px;
    width: 100%;
}


.difficulty{
    font-family: 'Gabarito';
    position: absolute;
    top: 65%;
    left: 16px;
    font-size: 20px;
}



#easy{
    color: green;
}

#hard{
    color: red;
}

#normal{
    color: orange;
}

.bottomright {
    color: #fefefe;
    position: absolute;
    right: 16px;
    top: 55%;
    font-size: 35px;
}


.card {
    position: absolute;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    background-color: whitesmoke;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.container {
    
    padding: 2px 16px;
}

.cardlink{
    text-decoration: none;
    color: black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

