html{
    min-width: 100vw;
    width: fit-content;
    overflow-x: clip;
}

body{
    min-width: 100vw;
    padding: 0%;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,36,1) 35%, rgba(159,43,164,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-top: 40px;
    text-align: center;
    color: azure;
    font-family: 'Gabarito';
}

#head_link{
    color: beige;
    margin-bottom: 0%;
    text-decoration: none;
}

#warning{
    color: bisque;
    text-align: center;
}

#return{
    left: 1%;
    top: 1.5%;
    appearance: none;
    backface-visibility: hidden;
    background-color: #ffffff;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}
  
#return:hover {
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}
  
#return:active {
    transform: translateY(2px);
    transition-duration: .35s;
}
  
#return:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

img{
    cursor: pointer;
}


.card-style {
    margin-top: 65;
    background-color: rgb(78, 78, 78);
    height: 520px;
    width: 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgb(22, 21, 21);
    cursor: pointer;
}


.card-style:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.805);
}

/* linear-gradient(180deg, rgba(0,0,0,1) 22%, rgba(15,26,18,1) 29%, rgba(31,54,38,1) 60%, rgba(43,164,120,1) 100%) */
.image-style {
    height: 250px;
    width: 310px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    text-align: center;
    padding: 15px;
    margin-top: 30%;
    height: fit-content;
    text-overflow: ellipsis;
    
}

.card-grid {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(310px,310px));
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.card-bottom{
    margin-top: 45;
    font-family: 'Roboto';
    background-color: rgb(255, 255, 255);
    width: 24%;
    border-radius: 5px;
    padding: 7;
    padding-left: 10;
    padding-right: 10;
    color: rgb(78, 78, 78);
}

h2{
    width: fit-content;
    color: white;
    margin-bottom: 0%;
    margin: auto;
    font-family: 'Roboto';
}


p{
    color: white;
    padding-top: 20;
    font-size: larger;
    font-family: 'Gabarito';
}


a{
    margin: 0%;
}




.imlink{
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: 'Gabarito';
    margin-top: 0;
}


.imlink:hover{
    color: rgb(86, 86, 86);
}



#toptext{
    margin-top: 10px;
}


.modal_container{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .creator_modal{
    z-index: 99;
    position: absolute;
    background-color: rgb(10, 12, 16);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 65vw;
    height: 90vh;
    border-radius: 8px;
  }
  
  #close_modal{
    color: white;
    position: absolute;
    right: 2%;
    top: 1%;
    font-size: 1.2vw;
    cursor: pointer;
  }
  
  .modal_img_container{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 40%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.456);
  }
  .modal_img{
    opacity: 100%;
    width: fit-content;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    
  }
  .modal_description{
    height: 60%;
  }
  
  .description_title{
    margin-top: 2%;
    font-family: 'Gabarito';
    text-align: center;
    color: white;
    font-size: 7vh;
  }
  .description_content{
    font-size: 2.3vh;
    font-family: 'Roboto';
    color: rgb(220, 248, 255);
    text-align: center;
    margin: auto;
    margin-top: 3%;
    width: 70%;
  }

  #title_href{
    text-decoration: none;
    color: white;
  }

  #title_href:hover{
    color: rgb(86, 86, 86);
  }