

body{
    padding: 0%;
    margin: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,36,1) 35%, rgba(159,43,164,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow: clip;
}



#main_container{
    position: relative;
    margin: auto;
    width: 650px;
    height: 85vh;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(0,107,254,1) 0%, rgba(60,127,250,1) 53%, rgba(65,190,255,1) 84%, rgba(154,233,255,1) 100%);
    background-size: cover;
    min-height: 609px;
}




p{
    font-family: 'Gabarito';
}

.logoimg{
    position: relative;
    z-index: 99;
    cursor: pointer;
    margin-top: 10;
    width: 70;
    display: block;
    margin: auto;
}

.logoimg:hover{
    animation: rotation 1.5s infinite;
}

.adbox{
    top: 15%;
    position: absolute !important;
    height: fit-content;
    width: fit-content;
    z-index: 9999;
}

.right{
    right: 0%;
}

.left{
    left: 0%;
}


#controlcont{
    position: relative;
    margin: auto;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #fff;
    width: 650px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}


.cntrlhead{
    font-family: 'merriweather sans', serif;
    font-size: larger;
    text-align: center;
    position: relative;
}

.s{
    margin: 0%;
    display: inline-block;
    margin-left: 5px;
}

.z{
    margin-left: 10%;
}

#key{
    width: fit-content;
    background-color: rgb(221, 220, 218);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    font-family: 'Gabarito';
    border-style: solid;
    border-width: 1px;
}


#gamemode{
    font-family: 'Roboto';
    font-size: xx-large;
    text-align: center;
}



#imgcontainer{
    margin: auto;
    width: fit-content;
    height: fit-content;
    min-height: 358px;
    background-color: #000;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#foot{
    background-color: rgb(0, 0, 0);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 420px;
    padding: 1%;
    color: white;
}

#desc{
    text-align: center;
    font-family: 'merriweather sans', serif;
}

#img2{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 420px;
    height: 45vh;
    
}

.blur{
    filter: blur(4px);
    background-color: #000;
}

#invertimg{
    rotate: 180deg;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#invertright{
    rotate: 180deg;
}


.checkmute{
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 4%;
    left: 4%;
}

#mutetext{
    font-family: 'merriweather sans';
    position: absolute;
    bottom: 4.7%;
    left: 10%;
}



#selectors{
    margin: auto;
    width: fit-content;
    position: relative;
    margin-top: 5%;
    height: fit-content;
}

.setting{
    text-align: center; 
    width: 100%; 
    margin-bottom: 10; 
    font-family: 'Roboto'; 
    font-weight: 800; 
    font-size: large;
}

select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    font-size: 1.15rem;
    padding: 0.675em 0.675em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}


option{
    text-align: center;
    margin: auto;
}

.placeholder{
    display: none;
}




.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}
  
.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}
  
.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}
  
  

* {
    box-sizing: border-box;
}
  

#return{
    left: 1%;
    top: 1.5%;
    appearance: none;
    backface-visibility: hidden;
    background-color: #ffffff;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: absolute;
    text-align: center;
    background: linear-gradient(to top, #323232 50%, #fff 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: all .1s ease-out;
}
  
#return:hover {
    background-position: bottom;
    color: #ffffff;
}
  
#return:active {
    transform: translateY(2px);
    transition-duration: .35s;
}
  
#return:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


#start{
  right: 5%;
  bottom: 3%;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 13px 20px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
}

#start:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

#start:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

#start:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#warning{
    background-color: whitesmoke;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 68%;
    top: 20%;
    padding-bottom: 70px ;
    padding-right: 30px;
    padding-left: 25px;
    border-radius: 8px;
    display : none;
}

#attention{
    text-align: center;
    color: rgba(255, 1, 1, 0.904);
    font-family: 'Merriweather sans', serif;
    font-size: large;

}

h3{
    text-align: left;
    font-size: medium;
    margin-top: 45px;
    font-family: 'Merriweather sans', serif;
    display: none
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@media (max-width: 768px){
    #selectors{
        top: 10%;
        margin: auto;
    }
    select{
        height: 7vh;
        width: 21vw;
        font-size: medium;
        margin: auto;
    }
    .s{
        margin-left: 2;
    }
    #controlcont{
        display: none;
    }
    #main_container{
        width: 90vw;
    }
    .adbox{
        display: none;
    }
    #imgcontainer{
        height: 40%;
        width: 80vw;
    }
    .checkmute{
        left: 0;
    }

    #start{
        top: 0%;
        height: fit-content;
    }
}


.fst-cont{
    height: 100vh;
    top: 6;
    position: absolute;
    z-index: -999;
}



.flag-cont  span{
    font-size: 2.5vw;
    padding: 0; 
}


.flag-cont{
    height: 100%;
    text-wrap: nowrap;
    position: absolute;
    margin: 0;
    width: fit-content;
    animation: slideRight 120s linear infinite;
}

.fi{
    margin-right: 110px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-82.4%);
    }
    100% {
        transform: translateX(110vw); 
    }
}

